.not-found-container {
  background-color: #000000;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

.not-found-image {
  width: 300px;
  margin-bottom: 20px;
}

.not-found-heading {
  font-size: 28px;
}

.not-found-description {
  color: #cbd5e1;
  margin-top: 10px;
}
