.login-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: #202020;
  padding: 40px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-logo {
  width: 120px;
  margin-bottom: 20px;
  align-self: center;
}

.label {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 5px;
}

.input {
  background-color: #121212;
  border: 1px solid #6366f1;
  padding: 8px;
  color: #ffffff;
  margin-bottom: 15px;
}

.login-button {
  background-color: #6366f1;
  color: #ffffff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.error-msg {
  color: #ff0b37;
  font-size: 12px;
  margin-top: 8px;
}
